
h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
h2{
    font-size: medium;
    font-weight: 300;
    text-align: center;
}
form{
    padding: 15px;
    border: 1px solid black;
    margin: auto;
    width: 300px;
    background: linear-gradient(25deg,rgb(172, 171, 171),rgb(243, 243, 245),rgb(194, 196, 194));
    border-radius: 15px;
    box-shadow: 2px 2px 10px 4px #3f3737;
}
.input{
    width: 45px;
    height: 25px;
    font-size: larger;
    margin: auto;
    text-align: center;
    border: none;
    box-shadow: 0 0 10px rgb(109, 175, 201);
}
label{
    margin: auto;
    font-weight: bold;
    display: inline;
}
button{
    font-weight: bold;
    font-size: larger;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 35px;
    border: 3px groove #9b8888;
    border-radius: 15px;
    background: radial-gradient(rgb(43, 111, 122),rgb(4, 230, 247),rgb(6, 200, 248));
    transition: all 0.3s;
}

button:hover{
    background: greenyellow;
    box-shadow: 0 0 10px rgb(255, 187, 0);
    cursor: pointer;
}
button:active{
    transform: scale(1.2);
}
textarea{
    margin: auto;
}
.result{
    margin: auto;
    width: 100%;
    height: 50px;
    font-size: 12pt;
    font-weight: 350;
    text-align: center;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
}