
th,td{
	border: 1px solid black;
	width: 40px;
	height: 20px;
	padding: 10px;
}
th{
	background-color: rgb(47,222,147);
}
table{
	border-collapse: collapse; 
}
tr:nth-child(2n){
	background-color: #aaa;
}
.error {
    color: #d32f2f;
    background-color: #ffebee;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
    border: 1px solid #f44336;
}