

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(-45deg,#8a83866b,#e8ebec,#a3a5a4af);
    animation: rainbow 10s ease-in-out infinite;
    background-size: 400% 400%;
}
@keyframes rainbow{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
h1{
    text-align: center;
    text-transform: capitalize;
}
input{
    width: 65px;
    height: 25px;
    font-weight: bold;
    font-size: larger;
    font-family: verdana,'Courier New', Courier, monospace;
}
table{
    border-collapse: collapse;
    border-color: blue;
    margin: 35px auto;
}

tr:nth-child(2n){
    background-color: rgba(222, 228, 228, 0.432);
}
tr:nth-child(2n+1){
    background-color: rgba(247, 242, 246, 0.986);
}
td{
    border: 1.5px solid rgb(7, 7, 7);
    width: 55px;
    height: 5vh;
}
th{
    border: 1.5px groove grey;
    background-color: aquamarine;
    padding: 10px;
    font-size: 12pt;
}
form{
    padding: 15px;
    border: 1px solid black;
    margin: auto;
    width: 300px;
    background: linear-gradient(25deg,rgb(172, 171, 171),rgb(243, 243, 245),rgb(194, 196, 194));
    border-radius: 15px;
    box-shadow: 2px 2px 10px 4px #3f3737;
}
label{
    font-size: 14pt;
}
button{
    margin: 15px 0px 15px 111px;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #40528b;
    color: antiquewhite;
    font-size: larger;
    text-transform: capitalize;
    text-decoration: line-through;
    box-shadow: -1px -2px 10px black;
}
button:hover{
    background-color: blueviolet;
    box-shadow: -1px -2px 10px rgb(19, 4, 233);
    border: 1px groove black;
}
button:active{
    transform: scale(1.1);
}
.error{
    color: #d32f2f;
    background-color: #ffebee;
    margin-top: 25x;
    width: 55vw;
    text-align: center;
    padding: 10px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20%;
    border: 1px solid #d32f2f;
    display: none;
}

@media (max-width:447px) {
    .error{
        margin-left: 5em;
    }
    
}