
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
span{
    text-transform: uppercase;
}
form{
    width: 45vw;
    margin: auto;
    border: 1px solid blue;
    padding: 25px 25px 55px 55px;
    border-radius: 15px;
    background: linear-gradient(25deg,rgb(172, 171, 171),rgb(243, 243, 245),rgb(194, 196, 194));
    box-shadow: 2px 2px 10px 4px #3f3737;
}
input{
    width: 95px;
    border-radius: 5px;
    height: 25px;
    color: blue;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
button{
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 55px;
    height: 30px;
    width: 75px;
    border-radius: 25px;
    background-color: rgba(5, 252, 67, 0.61);
    transition: all 0.3s;
}
button:hover{
    background-color: rgb(241, 121, 121);
    box-shadow: 0px 0px 5px rgb(19, 19, 233);
}
button:active{
    transform: scale(0.8);
}
#result{
    width: 100%;
}