html{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0; 
    height:100vh;
    box-sizing: border-box;
    background-color: rgba(59, 59, 153,0.8);
   /* background:url(../images/survey-form-background.jpg);*/
    background-size: cover;
    color:#fdfdd9;
    font-family: sans-serif,Castellar,crashbow,Tahoma,'Arial Narrow', Arial, sans-serif;
    font-size:15px;
}

#title{
    text-align: center;
    margin: 40px 0 -2px 0;
    font-weight: 200;
    font-size: 25px;
}
#description{
    text-align: center;
}

form{
    background-color:rgba(27, 27, 50,0.7);/* rgba(147,200, 150,0.8)#111157*/;
    margin:20px auto;
    max-width: 500px;
    min-width: 300px;
    padding: 10px 0 0 10px;
    border-radius: 5px;
}
label{
    display:block;
}

input[type="text"],input[type="email"],input[type="number"] {
    display: block;
    width:95%;
    height:25px;
    border-radius: 5px;
}

select{
    display:block;
    width:95%;
    border-radius: 5px;
    height:30px;
}
#name-label,#email-label,#number-label{
    margin:15px 0px;
}

fieldset{
    border: none;
    margin:10px 20px;
}
legend{
    margin-top: 2em;
}
span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8em;
}
textarea{
    width: 95%;
    height:80px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    
}
input[type="submit"]{
    width:95%;
    background-color:#45ef59;
    border:none;
    box-shadow: 0px 0px 5px #1b1b32;
    height:30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
#submit:hover{
    background-color: #45cf59;
}
