* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  box-shadow: 0 0 100px inset rgba(59, 59, 57, 0.418);
}

.gallery img {
  width: 60%;
  max-width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(15, 15, 15, 0.966);
}
.gallery img:hover{
  transform: rotate(5deg);
}
.gallery::after {
  content: "";
  width: 350px;
}
