*{
	font-family: sans-serif;
}
form{
	background-image: url(../images/cat6.jpg);
	width: 400px;
	height: 100vh;
	margin: auto;
	border: 1px dotted #383636;
}
.title{
	text-align: center;
	font-size: 24pt;
	word-spacing: 1.5;
}
h3{
	font-weight: normal;
	font-size: 12pt;
	text-align: center;
	margin-top: -10px;
}
label{
	text-transform: capitalize;
	display: block;
	font-size: 11pt;
	margin-bottom: 5px;
}
input{
	border-radius: 5px;
	height: 25px;
	margin-left: 20px;
	margin-bottom: 15px;
}

